[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
build = "*"

[requires]
python_version = "3.10"

[scripts]
test = "py -m unittest discover -s src"
